.adshome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 30px;
}

.adshome__content {
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, rgba(224, 39, 39, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin: 10px 25px 30px 25px;
    color: #fff;
    position: relative;
}

.adshome__image-cover {
    width: 340px;
    height: 280px;
    object-fit: cover;
    position: absolute;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.adshome__content p {
    width: 65%;
    font-size: 16px;
    margin: 10px 0 8px 10px;
}

@media(max-width: 1170px) {
    .adshome__content {
        width: 500px;
        margin: 10px 0 15px 0;
        padding: .5rem;
    }

    .adshome__image-cover {
        width: 500px;

    }
}

@media(max-width: 1040px) {
    .adshome__content {
        width: 470px;
    }

    .adshome__image-cover {
        width: 470px;

    }



}

@media(max-width: 975px) {
    .adshome__content {
        width: 430px;
    }

    .adshome__image-cover {
        width: 430px;

    }

}

@media(max-width: 910px) {
    .adshome__content {
        width: 390px;
    }

    .adshome__image-cover {
        width: 390px;

    }
}

@media(max-width: 830px) {
    .adshome__content {
        width: 370px;
        padding: 0;
    }

    .adshome__image-cover {
        width: 370px;

    }
}

@media(max-width: 760px) {
    .adshome__content {
        width: 350px;
    }

    .adshome__image-cover {
        width: 350px;

    }
}

@media(max-width: 715px) {
    
    .adshome__content {
        width: 600px;
    }

    .adshome__image-cover {
        width: 600px;

    }
}