.error {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error h1 {
    color: #ff6060;
    font-size: 20em;
    width: 100%;
    margin: auto;
    text-align: center;
}

.error p {
    color: #FF6060;
}

.error__link {
    text-align: center;
    color: #FF6060;
    text-decoration: underline #FF6060;
    position: relative;
}
a:hover {
    cursor: pointer;
} 

/* .error__link:hover {
  
    cursor: pointer;

} */

@media(max-width:767px) {
    .error {
        width: 90%;
        margin: auto;
    }

    .error h1 {
        font-size: 10em;
    }
}

@media(max-width:450px) {
    .error h1 {
        font-size: 8em;
    }
}