.house-details__header {
    width: 100%;
    margin: 15px 0 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.house-details__header-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #FF6060;
}

.house-details__header-left h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
}

.house-details__header-left p {
    margin: 5px 0 0 0;
    font-weight: 500;
    font-size: 18px;
}

.house-details__header-tagsbox {
    display: flex;
    flex-direction: row;
    margin: 15px 0 0 0;
    padding: 0;
    flex-wrap: wrap;

}

.house-details__header-tagsbox li {
    color: #fff;
    border-radius: 15px;
    text-align: center;
    background: #ff6060;
    padding: 2px 20px;
    font-size: 14px;
    list-style: none;
    margin: 0 10px 10px 0;
    margin-bottom: 10px;

}

.house-details__header-right {
    display: flex;
    flex-direction: column;
    position: relative;
}

.house-details__header__identification {
    display: flex;
    flex-direction: row;
    position: relative;
}

.house-details__header__identification__name {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    right: 80px;
    /* width:100px; */
    text-align: right;
}

.house-details__header__identification__picture img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #c4c4c4;
    position: absolute;
    top: 0;
    right: 0;
}

.house-details__header__rating {
    display: flex;
    flex-direction: row;
    margin: 85px 0 0 0;
}

@media(max-width: 768px) {
    .house-details__header {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .house-details__header-right {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    .house-details__header__rating {
        margin: 0;
    }

    .house-details__header__identification {
        justify-content: center;
        align-self: start;
    }

    .house-details__header-left {
        width: 100%;
    }

    .house-details__header-left h1 {
        font-size: 30px;
    }

}

@media(max-width:450px) {
    .house-details__header-left h1 {
        font-size: 24px;
    }

    .house-details__header-left p {
        font-size: 16px;
    }
}

@media(max-width:350px) {
    .house-details__header-left h1 {
        font-size: 20px;
    }

    .house-details__header-left p {
        font-size: 14px;
    }

    .house-details__header-tagsbox li {
        font-size: 14px
    }

    .house-details__header__identification__name{
        font-size: 14px
    }

    .house-details__header__rating-image{
        width:10%;
    }
}