.house-details__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.house-details__description-box {
    margin-right: 50px;
}

.house-details__description-box,
.house-details__equipment-box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.house-details__description-box__title,
.house-details__equipment-box__title {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: #ff6060;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    z-index: 99;
}

.house-details__equipment-box__title i,
.house-details__description-box__title i {
    cursor: pointer;
    font-size: 25px;
}

.house-details__description-box__content {
    display: flex;
    justify-content: space-between;

}

.house-details__equipment-box__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
}

.house-details__description-box__content,
.house-details__equipment-box__list {
    font-size: 18px;
    height: 100%;
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
    color: #ff6060;
    background: #f7f7f7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: -5px 0 0 0;

}

@media(max-width: 768px) {
    .house-details__box {
        width:90%;
        margin: auto;
        flex-direction: column;
    }

    .house-details__description-box,
    .house-details__equipment-box {
        width: 100%;
    }

    .house-details__description-box{
        margin-bottom: 15px;
    }
}