.navbar__box {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5em;
    margin-top: 10px;
    position: relative;
}

.navbar__box__content {
    margin: 0;
    display: flex;
    height: 70%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: relative;
}

.navbar__box__content a {
    text-decoration: none;
    color: #FF6060;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
    position: relative;
    font-weight: 500;
    font-size: 24px;
}

.navbar__nav-active::after {
    content: "";
    width: 90%;
    height: 2px;
    background: #FF6060;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}

@media(max-width: 768px) {
    .navbar__box {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

@media(max-width: 450px) {

    .navbar__box__content a {
        font-size: 16px;
    }
}

@media(max-width: 370px) {

    .navbar__box img {
        width: 30%;
        height: 30px;
    }

    .navbar__box__content a {
        font-size: 14px;
    }
}